<ion-view>
  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title pull-right">My Diary</h1>
  </ion-header-bar>
      <ion-content scroll="false">
        <section class = "home-container">
          <div class = "row primarySectionRoyal">
            <div class = "col text-center">
              <button class="button button-clear button-massiveWhite" ng-click="capture()">
                Capture
              </button>
            </div>
          </div>
          <div class = "row primarySectionBalanced">
            <div class = "col text-center">
              <button class="button button-clear button-massiveWhite">
                Review
              </button>
            </div>
          </div>
          <div class = "row primarySectionAssertive">
            <div class = "col text-center">
              <button class="button button-clear button-massiveWhite">
                Publish
              </button>
            </div>
          </div>
      </section>
  </ion-content>
</ion-view>
